<!DOCTYPE HTML>
<html lang="pl">
    {% load staticfiles %}
<head>
    <mata charset="utf-8"/>
    <title>Jak dolecę ;)</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'calculator/style.css' %}"/>
    <script src="{% static 'calculator/scripts.js' %}"></script>

</head>

<body>
    <header id="header"> Tu będzie nagłówek z instrukcją + link "o projekcie" i logowanie do strefy dodawania nowych
        lotnisk i szyboli </header>
    <section id="content">
        <div id="map" class="main">
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcrYmDKRxvZQxmCP3Jts7Kup1CvvG1MOk&callback=initMap&sensor=false&v=3&libraries=geometry" async defer></script>
        </div>
        <div id="calculator" class="main">
            <div id="airfield">
                <form id="airfield-form" class="select">
                    <select name="airfields" id="airfields">
                        <option data-lat="52.0695704" data-lng="19.479607"> -- wybierz lotnisko --</option>
                        {% block Airfields %}
                            {% for airfield in airfield_list %}
                                <option value="{{ airfield.shortcut }}" data-id="{{ airfield.pk }}" data-lat="{{ airfield.latitude }}"
                                        data-lng="{{ airfield.longitude }}">
                                    {{ airfield.shortcut }} - {{ airfield.name }}</option>
                            {% endfor %}
                        {% endblock %}
                    </select>
                </form>
                <div id="airfield-details">Wybierz lotnisko <br>
                </div>
            </div>
            <div id="flight-details">
                <div id="glider-position">Pozycja szybowca: ?</div>
                <div id="distance">Odległość od lotniska: ?</div>
                <div id="heading">Kurs: ?</div>
            </div>
            <div id="glider">
                <form id="glider-form" class="select">
                    <select name="gliders" id="gliders">
                        <option value> -- wybierz szybowiec --</option>
                        {% block Gliders %}
                            {% for glider in glider_list %}
                             <option value="{{glider.pk}}" data-name="{{ glider.name }}" data-ratio="{{glider.glide_ratio}}"
                                     data-speed="{{glider.best_glide_speed }}">{{glider.name}}</option>
                            {% endfor %}
                        {% endblock %}
                    </select>
                </form>
                <div id="glider-details">Wybierz szybowiec</div>
            </div>
            <form id="safety-factor-form" class="select">
                <select name="safety-factor" id="safety-factor">
                    <option value> -- wybierz współczynnik bezpieczeństwa -- </option>
                    <option value='1.2'> 20% </option>
                    <option value='1.3'> 30% </option>
                    <option value='1.4'> 40% </option>
                </select>
            </form>
            <div id="result_form">
                {% block content %}
                    <form action="" method="POST" id="result_form">{% csrf_token %}
                        {{ result_form.as_p }}
                        <input type="submit" value="OBLICZ WYSOKOŚĆ">
                    </form>
                {% endblock %}
            </div>
            <div id="final">
                <div id="weather_details"></div>
                <div>wysokość potrzebna by dolecieć w panujących warunkach na danym szybowcu to:</div>
                <div id="result"> ? </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </section>
    <footer id="footer">
        nie do użytku operacyjnego
    </footer>
</body>
</html>